.reviews {
  line-height: 30px;
  color: $main-color;
  text-align: center;
}

.reviews__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;

  color: $black-color;
}

.reviews__text {
  margin: 25px 0 0 0;
  font-size: 14px;
}
